a {
  text-decoration: none;
  color: $black;
  border-bottom: $dark-grey solid 0.1em;
  font-family: $ext-sans;
  margin: 1rem 0;

  &:hover {
    border-bottom: $primary-color solid 0.1rem;
  }
  &:focus {
    outline: pxToRem(3) solid $primary-color;
    outline-offset: pxToRem(5);
  }
}
