body {
  border-top: 1rem solid $primary-color;
  font-family: $sans-serif;
  font-size: pxToRem(20);
  margin: 0;
  padding: 2rem;

  @media (prefers-reduced-motion: no-preference) {
    scroll-behavior: smooth;
  }
}

code {
  background-color: $dark-grey;
  border: pxToRem(1px) solid $black;
  border-radius: 0.25em;
  color: $white;
  font-size: 95%;
  padding: 0.15em;

  pre & {
    border: none;
    border-radius: 0;
    font-size: inherit;
    padding: 0;
  }
}

ul[class] {
  list-style: none;
  margin: 0;
  padding: 0;
}

th {
  text-align: left;
}

pre[class*='language-'] {
  font-size: 1rem;
}
