body {
  background-color: var(--clr-background);
  border-top: 1rem solid var(--clr-primary);
  color: var(--clr-foreground);
  font-family: $sans-serif;
  font-size: pxToRem(20);
  margin: 0;
  padding: 2rem;

  @media (prefers-reduced-motion: no-preference) {
    scroll-behavior: smooth;
  }
}

[hidden] {
  display: none;
}

ul[class] {
  list-style: none;
  margin: 0;
  padding: 0;
}

th {
  text-align: left;
}

pre[class*='language-'] {
  font-size: 1rem;
}
