body {
  background-color: var(--clr-background);
  border-top: 1rem solid var(--clr-primary);
  color: var(--clr-foreground);
  font-family: $sans-serif;
  font-size: pxToRem(20);
  margin: 0;
  padding: 2rem;
}

code {
  background-color: var(--clr-border-main);
  border: pxToRem(1px) solid var(--clr-foreground);
  border-radius: 0.25em;
  color: var(--clr-background);
  font-size: 95%;
  padding: 0.15em;

  pre & {
    border: none;
    border-radius: 0;
    font-size: inherit;
    padding: 0;
  }
}

ul[class] {
  list-style: none;
  margin: 0;
  padding: 0;
}

th {
  text-align: left;
}

pre[class*='language-'] {
  font-size: 1rem;
}
