$sans-serif: monotype-grotesque, 'Lucida Sans', sans-serif;
$serif: orpheuspro, Palatino, Times, serif;
$ext-sans: monotype-grotesque-extended, Arial Black, sans-serif;
$con-sans: monotype-grotesque-condensed, Arial Narrow, sans-serif;

$thin: 200;
$light: 300;
$regular: 400;
$medium: 500;
$bold: 700;
