.u-no-padding-left {
  padding-left: 0 !important;
}

.u-margin-top-double {
  margin-top: 2rem;
}

.u-margin-bottom-double {
  margin-bottom: 2rem;
}

.style__italics {
  font-style: italic;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.flex {
  display: flex;
}

.flex__space-between {
  align-items: center;
  justify-content: space-between;
}
