.u-no-padding-left {
  padding-left: 0 !important;
}

.u-margin-bottom-double {
  margin-bottom: 2rem;
}

.style__italics {
  font-style: italic;
}

.small {
  font-size: 0.75em;
}

.help {
  margin: 1rem 0;
  li {
    margin: 0.75rem 0;
  }
}

.visually-hidden {
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
