h1 {
  font-family: $ext-sans;
  font-weight: $bold;
}

h1,
h2,
h3,
h4 {
  margin-bottom: 0.5em;
  margin-top: 1em;
}

p {
  font-size: 1.25rem;
  line-height: 1.25;
  margin: 0.75rem 0;
}

.title--thicc {
  // a sensible base font size
  font-size: 3rem;
  line-height: 0.75;
  margin: 0.5rem 0rem;
  padding: 0;
}

@media (min-width: 51rem) and (min-height: 400px) {
  // a dramatic font size
  .title--thicc {
    font-size: 12vh;
  }
}

@media (min-width: 51rem) and (min-height: 850px) {
  // cap the maximum font size of the title
  // at the same size that 12vh computes to
  // when the viewport is 850px high
  // One day we can use CSS clamp https://caniuse.com/#feat=mdn-css_types_clamp
  .title--thicc {
    font-size: 6.75rem;
  }
}

@media (min-width: 800px) {
  .title--thicc {
    grid-column: 1 / 3;
  }

  .title--thicc + p {
    grid-column: 1 / 2;
  }
}

.main-headline {
  font-family: orpheuspro, Palatino, Times, serif;
  font-size: 3.5rem;
  line-height: 1.2;
  margin: 0;
}

.subtitle {
  font-family: $ext-sans;
  font-size: 1.25rem;
  font-weight: $regular;
  grid-column: span 2;
  letter-spacing: 0.1;
  margin: .75rem 0;
}

.small {
  font-size: 0.75em;
}
