---
layout: layouts/index.njk
---

<header class="auto-grid introduction">
  <h1 class="introduction__title thicc-headline" id="title">
    Self-Defined
  </h1>
  <p class="introduction__body">
    Un dictionnaire moderne à propos de nous.<br />Nous définissons nos mots,
    mais ils ne nous définissent pas.
  </p>
  <div>
    <p class="summary">
      Self-Defined cherche à fournir des définitions plus inclusives,
      holistiques et fluides afin de refléter les points de vue variés du monde
      moderne.
    </p>
    <p>
      Par le prisme du vocabulaire, on peut débuter une compréhension des
      expériences vécues par des personnes différentes de nous. Les mots peuvent
      nous apporter un sentiment d'identité, et nous permettre de développer des
      afinités à travers des expériences communes.
    </p>
  </div>
  <div class="box">
    <h2 class="sub-headline">Comment aider</h2>
    <ol class="list">
      <li>
        Proposez des mots et définitions ou contribuez au code base avec des
        <a
          href="https://github.com/tatianamac/selfdefined/pulls"
          rel="noreferrer"
          >pull requests</a
        >
        ou des
        <a
          href="https://github.com/tatianamac/selfdefined/issues"
          rel="noreferrer"
          >issues</a
        >. Démarrez avec notre
        <a
          href="https://github.com/selfdefined/web-app/blob/prod/CONTRIBUTING.md"
          rel="noreferrer"
          >politique de contribution</a
        >
        et notre <a href="/documentation/">documentation</a>.
      </li>
      <li>
        Sponsorisez ce projet avec
        <a href="https://opencollective.com/selfdefined">Open Collective</a> ou
        <a href="https://github.com/sponsors/tatianamac">GitHub Sponsors</a>.
      </li>
      <li>
        Suivez-nous sur Twitter
        <a href="https://www.twitter.com/selfdefinedapp">@SelfDefinedApp</a>.
      </li>
    </ol>
  </div>
</header>