$primary-color: hsl(0, 100%, 50%);
$secondary-color: hsl(120, 100%, 25%);

$dark-red: hsl(0, 100%, 32.2%);
$pink: hsl(349.5, 100%, 87.6%); 
$black: hsl(0, 0%, 13%);
$white: hsl(0, 0%, 100%);

$dark-grey: hsl(0, 0%, 31%);
$mid-grey: hsl(0, 0%, 46.3%); // the lightest shade of grey you can get away with, #a11y
$light-grey: hsl(0, 0%, 93.3%); // for backgrounds only