@mixin icon__avoid() {
  content: '🚨';
}

@mixin icon__warning() {
  content: '⚠️';
}

@mixin icon__alt() {
  content: '👍';
}

@mixin icon__tool() {
  content: '🧰';
}

@mixin icon__embed() {
  margin-right: 0.35rem;
}
