$colors: (
  red: hsl(0, 100%, 50%),
  green: hsl(120, 100%, 25%),
  dark-red: hsl(0, 100%, 32.2%),
  pink: hsl(349.5, 100%, 87.6%),
  berry: hsl(350deg 54% 44%),
  dark-green: hsl(120s, 100%, 15%),
  pale-green: hsl(120, 73%, 80%),
  yellow: hsl(50, 100%, 50%),
  dark-yellow: hsl(50, 100%, 20%),
  pale-yellow: hsl(50, 100%, 86%),
  very-blue: hsl(236, 100%, 58%),
  black: hsl(0, 0%, 13%),
  black-transparent: hsla(0, 0%, 13%, 85%),
  white-transparent: hsl(0, 0%, 100%, 85%),
  light-grey: hsl(0, 0%, 92%),
  dark-grey: hsl(0, 0%, 31%),
  mid-grey: hsl(0, 0%, 46.3%)
);

$very-blue: #2939ff;

$browser-context: 16;
