$colors: (
  red: hsl(0, 100%, 50%),
  green: hsl(120, 100%, 25%),
  dark-red: hsl(0, 100%, 32.2%),
  pink: hsl(349.5, 100%, 87.6%),
  dark-green: hsl(120, 100%, 15%),
  pale-green: hsl(120, 73%, 80%),
  yellow: hsl(50, 100%, 50%),
  dark-yellow: hsl(50, 100%, 20%),
  pale-yellow: hsl(50, 100%, 86%),
  black: hsl(0, 0%, 13%),
  black-transparent: hsla(0, 0%, 13%, 85%),
  white: hsl(0, 0%, 100%),
  white-transparent: hsl(0, 0%, 100%, 85%),
  dark-grey: hsl(0, 0%, 31%),
  mid-grey: hsl(0, 0%, 46.3%)
);

$browser-context: 16;
