{% extends 'layouts/base.njk' %}
{% set pageType = 'Page' %}
{% set titleWithPath = 'Invitations Closed « ' %}
{% block content %}
  <div class="article-content">
    {% include 'components/sub-page-header.njk' %}
    <main class="page">
      <h1>Discord Invitations</h1>
      <p>Invitations to the Discord server are currently closed. Please keep an eye on our <a href="https://twitter.com/SelfDefinedApp">Twitter account</a> for updates!</p>
    </main>
	</div>
{% endblock %}