@charset 'UTF-8';

// 1. Configuration and helpers
@import 'abstracts/variables', 'abstracts/functions', 'abstracts/mixins',
  'abstracts/universal-selector';

// 2. Vendors
// @import
// 'vendors/normalize';

// 3. Base stuff
@import 'base/custom-properties', 'base/fonts', 'base/base', 'base/selection',
  'base/typography', './base/a', 'base/helpers', 'base/radio-buttons', 'base/code';

// 4. Layout-related sections
@import 'structures/header', 'structures/footer', 'structures/grid',
  'structures/multi-column', 'structures/table-of-content',
  './structures/definition-content', './structures/definition-navigation';

// 5. Components
@import 'components/word', './components/box', 'components/lists', 'components/definitions',
  'components/flag', 'components/alertbox', 'components/spoiler';

// 6. Page-specific styles
@import './layouts/pages';
@import './layouts/homepage';

// 7. Themes
// @import
//   'themes/default';
