@charset 'UTF-8';
@import '~prism-themes/themes/prism-a11y-dark';

// 1. Configuration and helpers
@import
  'abstracts/variables',
  'abstracts/functions',
  'abstracts/mixins',
  'abstracts/universal-selector';

// 2. Vendors
// @import
  // 'vendors/normalize';

// 3. Base stuff
@import
  'base/custom-properties',
  'base/fonts',
  'base/base',
  'base/typography',
  'base/helpers';

// 4. Layout-related sections
@import
  'structures/header',
  'structures/footer',
  'structures/grid',
  'structures/multi-column',
  'structures/table-of-content';

// 5. Components
@import
  'components/word',
  'components/lists',
  'components/definitions',
  'components/flag';

// 6. Page-specific styles
// @import
//   'pages/home';

// 7. Themes
// @import
//   'themes/default';

