.word__type {
  font-family: $con-sans;
  font-size: 0.85rem;
  padding-right: 1rem;
  text-align: right;
  text-transform: uppercase;
}

.content-flag {
  background-color: var(--clr-warning-background);
  overflow: hidden;
  padding: 0 1rem 0 3rem;
  position: relative;

  & a:focus {
    background-color: var(--clr-background);
  }

  &:before {
    content: '⚠️';
    left: 1rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  &--avoid {
    background-color: var(--clr-avoid-background);

    &:before {
      content: '🚨';
    }
  }
}
