.word__type {
    text-align: right;
    padding-right: 1rem;
    font-family: $con-sans;
    font-size: 0.85rem;
    text-transform: uppercase;
  }
  
.word__link {
    text-decoration: none;
    color: black;
    border-bottom: darkgrey solid 0.1em;
    font-family: $ext-sans;
  }
  
.word__breakdown {
    font-family: $sans-serif;
    border-left: 0.1rem solid lightgrey;
    padding-left: 1rem;
}
  