.flag {
  border-radius: 1rem;
  display: inline-block;
  font-size: 0.9rem;
  font-weight: bold;
  margin: 0.5rem 0.75rem 0.25rem 0;
  padding: 0.45rem 0.65rem;
  text-transform: lowercase;
  &--red {
    background-color:$lt-background-color;
    &:before {
      @include icon__avoid();
      @include icon__embed();
    }
  }
  &--yellow {
    background-color: $lt-background-color-warning;
  
    &:before {
      @include icon__warning();
      @include icon__embed();
    }
  }
}