ol {
  margin: 0;
  padding: 0 0 0 1em;
}

li {
  list-style: none;
  padding-bottom: 0.5em;

  &.subterm {
    padding-left: pxToRem(10);
  }

  &:last-child {
    padding-bottom: 0;
  }

  &.subterm:before {
    content: '\21B3';
    padding-right: pxToRem(5);
  }
}

.list-semicolon {
  list-style: none;
  margin: 0;
  padding: 0;

  & > li {
    display: inline;

    &:not(:last-child)::after {
      content: '; ';
    }
  }
}

.list-default {
  li {
    list-style: initial;
    margin-left: 2rem;
    &:last-child {
      margin-bottom: 0.5rem;
    }
  }
}
