.search__form {
  background: transparent;
  margin-bottom: 32px;
}

.search__actions {
  display: flex;
}

.search__input {
  margin-right: 8px;
}

.search-results-list__list-item__highlight {
  background: $pale-yellow;
}
