---
title: FAQs
parent:
  title: Contribute
  href: '/contribute'
---

<p>Answers to frequently asked questions.</p>

<dl>
  <dt id="when-should-i-open-an-issue-versus-a-pull-request">When should I open an issue versus a pull request (<abbr title="Pull Request">PR</abbr>)?</dt>
  <dd class="u-margin-top-double">
    <p><strong>Open <abbr title="Pull Request">PR</abbr></strong></p>
    <p>Some examples of when you may want to open a <abbr title="Pull Request">PR</abbr>:</p>
    <ul>
      <li>Correct misspellings</li>
      <li>Fix broken links</li>
      <li>Add definitions/nuance/translations to words that exist on the site already but are undefined/partially defined/could use more nuance</li>
      <li>Resolve issues that already exist</li>
    </ul>
    <p>Generally speaking, if you know how to open a <abbr title="Pull Request">PR</abbr> in order to fix the issue, doing that is best. However, we recognise that it requires knowledge of GitHub and code to some degree, which is a form of gatekeeping. We're currently working on ways to improve/remove this barrier to entry. We also are always willing to help if you'd like to learn. Reach out via our <a href="//join.slack.com/t/selfdefined/shared_invite/zt-fczgm8b6-8ZZgHvLutNDXo~NjwaL7Iw">Slack community</a></p>
  </dd>
  <dd class="u-margin-top-double">
    <p><strong>Open Issue</strong></p>
    <p>Some examples of when you may want to open an issue:</p>
    <ul>
      <li>Are not sure how to open a <abbr title="Pull Request">PR</abbr> but have a suggestion</li>
      <li>Express concern or ask a question around a term that you don't have clear prescriptive feedback around</li>
      <li>Add a new term that is not yet listed (with or without definition)</li>
      <li>Add or enhance a feature that you're unsure is desired</li>
    </ul>
  </dd>
</dl>

<p><strong>Related:</strong> <a href="//github.com/selfdefined/web-app/blob/prod/CONTRIBUTING.md">Contributing Guidelines</a></p>
