.grid {
  display: grid;
  grid-template-columns: repeat(4, [col] 1fr [col]);
  grid-template-rows: fit-content, fit-content, auto;
  grid-row-gap: 10rem;
  grid-column-gap: 4rem;
}

.auto-grid {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(var(--auto-grid-min-size), 1fr)
  );
  grid-gap: var(--l-gap);
}
