.homepage-section {
  margin-top: calc(var(--l-gap) * 2);

  @media (min-width: 800px) {
    margin-top: calc(var(--l-gap) * 4);
  }
}

#ways-to-help.spoiler {
  .spoiler__toggle-btn {
    color: var(--clr-accent);
  }
}
