.homepage-section {
  margin-top: calc(var(--l-gap) * 2);

  @media (min-width: 800px) {
    margin-top: calc(var(--l-gap) * 4);
  }
}

#ways-to-help.spoiler {
  .sub-headline {
    align-items: center;
    display: flex;
    justify-content: space-between;

    .spoiler__toggle-btn {
      color: #fff;
    }
  }
}
