.page {
  align-items: start;
  display: grid;
  grid-template-columns: 1fr;

  & > * {
    grid-column: 1;
  }
}

.article-content {
  display: grid;
  grid-gap: 1rem;

  @media (min-width: 800px) {
    grid-template-columns: 10rem 45rem;
  }
}

.wide-content {
  @media (min-width: 800px) {
    display: grid;
    grid-gap: 5rem;
    grid-template-columns: 10rem 1fr;
  }
}

.wide-content .title p {
  font-size: var(--step-2);
}

.definition {
  max-width: 47rem;
}

.definition__further-definitions_nav {
  margin-top: 3rem;
}

.definition__header {
  font-family: orpheuspro, Palatino, Times, serif;
}
