<div class="alertbox">
  <h2 class="alertbox__title">Something not quite right?</h2>
  <p class="alertbox__content">If you found a typo, would like to add another resource, or add nuance to this definition, please feel free to <a href="https://github.com/tatianamac/selfdefined/issues" rel="noreferrer">submit an issue</a> or <a href="https://github.com/tatianamac/selfdefined/pulls" rel="noreferrer">open a pull request</a>.</p>
</div>