{%- if
  flag and
  flag.text and
  (flag.level == 'avoid') -%}
  <div class="u-margin-bottom-double u-margin-top-double content-warning content-warning--avoid" id="content-warning-guide">
    <p>You may want to add a content warning before discussing or showing imagery involving this topic, as it is a topic that can elicit negative feelings and visceral reactions like a panic attack or trauma.</p>
    <p><strong>Content warnings usually take the form of "Content warning: [topic(s)]" or "CW: [topic(s)]. We recommend the former when possible.</strong></p>
    <p>This content warning should be given at the earliest possible opportunity. Examples of where you can do this are:</p>
    <ul class="list-default">
      <li>Introduction to the content including these terms or imagery</li>
      <li>In the Tweet or post sharing a link to a piece of content containing these terms or imagery</li>
    </ul>
  </div>
{%- elseif
  flag and
  flag.text and
  (flag.level == 'warning') -%}
  <div class="u-margin-bottom-double u-margin-top-double content-warning" id="content-warning-guide">
    <p>You may want to add a content warning before discussing or showing imagery involving this topic, as it is a topic that can elicit negative feelings and visceral reactions like a panic attack or trauma.</p>
    <p><strong>Content warnings usually take the form of "Content warning: [topic(s)]" or "CW: [topic(s)]. We recommend the former when possible.</strong></p>
    <p>This content warning should be given at the earliest possible opportunity. Examples of where you can do this are:</p>
    <ul class="list-default">
      <li>Introduction to the content including these terms or imagery</li>
      <li>In the Tweet or post sharing a link to a piece of content containing these terms or imagery</li>
    </ul>
  </div>
{% endif %}
