<article id="{{ definition.data.slug }}" class="block__word word">
  {% definitionFlag definition.data.flag %}
  <h3 class="word__title">
    {{ definition.data.title}}
    <span class="word__speech">{{ definition.data.speech}}</span>
  </h3>
  <div class="word__content">
    {{ definition.templateContent | safe }}
    {# <p>{{ definition.data.alt_words }}</p> #}
    {%- if definition.data.alt_words -%}
      <h4>Alt Words</h4>
      <ul class="list-semicolon">
        {% for word in definition.data.alt_words %}
          <li>{{ word | linkIfExistsInCollection(collections.definedWords) | safe }}</li>
        {% endfor %}
      </ul>
    {% endif %}
    {%- if definition.data.reading -%}
      <h4>Further Reading</h4>
      <ul class="list-semicolon">
        {% for link in definition.data.reading %}
          <li>
            <a href="{{link.href}}">{{ link.text }}</a>
          </li>
        {% endfor %}
      </ul>
    {% endif %}
  </div>
</article>
