<section class="search">
  <label for="search">Search</label>
  <input type="search" id="search" class="search" name="search" />
    <ul id="search-results-list" class="u-no-padding-left list" aria-labelledby="search" />
</section>

{% block pageScript%}
<script>
  // don't use es6+ here because it will not be transpiled
  window.addEventListener('DOMContentLoaded', function() {
    function buildResultListItem(result) {
      return `<h4>${result.title}</h4><p>${result.content.substr(0, 100)}</p>`
    }

    try {
      const $search = document.querySelector('#search')
      const $resultsContainer = document.querySelector('#search-results-list')

      $search.addEventListener('change', async event => {
        const value = event.target.value

        if (!event.target.value) {
          $resultsContainer.innerHTML = ''
          return
        }

        const matches = await fetch(`https://climb-phi-staging.begin.app/self-defined-app-search?q=${event.target.value}`)
        const results = await matches.json()

        $resultsContainer.innerHTML = ''

        // better to create a fragment here
        results.forEach((result) => {
          let $childElement = document.createElement('li')
          $childElement.innerHTML = buildResultListItem(result)
          $resultsContainer.appendChild($childElement)
        })

      })
    } catch (error) {
      console.log('error in search!', error)
    }


  })
</script>
{% endblock %}
