<form method="get" action="/search" class="js-search-form search__form">
  <label for="q" class="sub-headline">Look up a definition</label>
  <div class="search__actions">
    <input type="search" class="search__input" name="q" />
    <button type="submit" class="search__button">Search</button>
  </div>
</form>
