<li>
  {{ definition.data.title | linkIfExistsInCollection(collections.definedWords) | safe  }}
  {%- if
    definition.data.flag and
    definition.data.flag.type and
    (definition.data.flag.level == 'avoid') -%}
    <span class="flag__red">{{ definition.data.flag.type }}</span>
  {% endif %}
  {% endif %}
</li>
