<li class="toc__list-item">
  {{ definition.data.title | linkIfExistsInCollection(collections.definedWords) | safe  }}
  {% tableOfContentFlag definition.data %}
  {%- if definition.data.sub_terms -%}
    <ul class="sub-terms" role="list" aria-label="{{definition.data.title}}">
      {% for term in definition.data.sub_terms %}
        <li
          class="subterm"
        >{{ term | linkSubTermIfDefined(collections.definedWords) | safe }}</li>
      {% endfor %}
    </ul>
  {% endif %}
</li>
