<section class="homepage-section homepage-section--toc">
  <h2 id="terms-heading" class="visually-hidden">Terms</h2>
  <nav class="" aria-labelledby="terms-heading">
    <ol class="multi-column u-no-padding-left list">
      {% for section in collections.tableOfContent %}
        <li>
          <h3 class="sub-headline" id="list{{loop.index}}">{{ section.title }}</h3>
          <ol class="toc__list" role="list" aria-labelledby="list{{loop.index}}">
            {% for definition in section.definitions %}
              {% include 'components/table-of-content-item.njk' %}
            {% endfor %}
          </ol>
        </li>
      {% endfor %}
    </ol>
  </nav>
</section>
