<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {# Use title with path, or append a space to the page title to avoid collpasing with the meta title #}
    {% set pageTitle = titleWithPath or title + ' ' or '' %}
    <title>{{ pageTitle + metadata.title }}</title>
    <meta
      name="description"
      content="{{ renderData.description or description or metadata.description }}"
    >
    <link rel="stylesheet" href="https://use.typekit.net/qlo3dpu.css" rel="preload"/>
    <link rel="stylesheet" href="{{ '/assets/css/base.css' | url }}">
    {% block pageStyles %}
    {% endblock pageStyles %}
  </head>
  <body>
    {% block content %}{% endblock content %}
    <footer class="site-footer">
      <nav aria-label="Complimentary">
        <ul class="navigation-list">
          <li>
            <a href="/documentation/">Documentation</a>
          </li>
        </ul>
      </nav>
    </footer>
    {% block pageScript %}
    {% endblock pageScript %}
  </body>
</html>
