{% extends 'layouts/base.njk' %}
{% set pageType = 'Definition' %}
{% set title = title + ' | Definitions | Self-Defined' %}

{% block content %}
  <div class="wide-content">
    {% include 'components/sub-page-header.njk' %}
    <main class="definition">
      <header class="definition__header">
        {% definitionFlag flag %}
        <h1 class="main-headline" >{{ title }}</h1>
      </header>
      {% include 'components/definition-content.njk' %}
    </main>
{% endblock %}
