{% extends 'layouts/base.njk' %}
{% set pageType = 'Definition' %}
{% set titleWithPath = title + ' « Definitions « ' %}
{% set description = 'The definition of ' + title + ' in Self-Defined, a modern dictionary about us.'%}

{% block content %}
  <div class="wide-content">
    {% include 'components/sub-page-header.njk' %}
    <main>
      <article class="definition">
        <header class="definition__header">
          {% definitionFlag flag %}
          <h1 class="main-headline" >{{ title }}</h1>
          <section class="u-margin-bottom-double" aria-labelledby="definition-speech">
            <h2 id="definition-speech" class="visually-hidden">Speech</h2>
            <p class="definition-content__speech">{{ speech }}</p>
          </section>
        </header>
        {% include 'components/content-warning-flag.njk' %}
        {% include 'components/definition-content.njk' %}
        {% include 'components/alertbox.njk' %}
        {% renderDefinitionContentNextEntries title, slug, collections.definedWords %}
      </article>
    </main>
{% endblock %}
