{% extends 'layouts/base.njk' %}
{% set pageType = 'Definition' %}

{% block content %}
  <div class="small-left-grid">
    <div id="title">
      <a href="/">Self-Defined</a>
      <p>A modern dictionary about us.<br>We define our words, but they don't define us.</p>
    </div>
    <main class="page">
      {% definitionFlag flag %}
      <h1 class="title__thicc" >{{ title }}</h1>
      {% include 'components/definition-content.njk' %}
    </main>
{% endblock %}
