{% extends 'layouts/base.njk' %}
{% set pageType = 'Page' %}
{% set titleWithPath = title + ' « Documentation « ' %}
{% block pageStyles %}
  {# Code highlighting #}
  <link rel="stylesheet" href="https://unpkg.com/prism-themes@^1.3/themes/prism-a11y-dark.css"/>
{% endblock %}
{% block content %}
  <div class="article-content">
    {% include 'components/sub-page-header.njk' %}
    <main class="page">
      {%- if parent -%}
        <div>
          <a href={{ parent.href }}>{{ parent.title }}</a>
        </div>
      {% endif %}
      <h1 class="thicc-headline" >{{ title }}</h1>
      {{ content | safe }}
    </main>
  {% endblock %}
