{% extends 'layouts/base.njk' %}
{% set pageType = 'Page' %}
{% set titleWithPath = title + ' « Documentation « ' %}

{% block content %}
  <div class="article-content">
    {% include 'components/sub-page-header.njk' %}
    <main class="page">
      {%- if parent -%}
        <div>
          <a href={{ parent.href }}>{{ parent.title }}</a>
        </div>
      {% endif %}
      <h1 class="title__thicc" >{{ title }}</h1>
      {{ content | safe }}
    </main>
  {% endblock %}
