{% extends 'layouts/base.njk' %}

{% block content %}
  <main>
    {{ content | safe }}
    {% include 'components/table-of-content.njk' %}

  </main>
  <footer class="site-footer">
    <nav aria-label="">
      <ul class="navigation-list">
        <li><a href="/documentation/">Documentation</a></li>
      </ul>
    </nav>
  </footer>
{% endblock %}
