{% extends 'layouts/base.njk' %}

{% block content %}
  <main>
    {{ content | safe }}
    {% include 'components/table-of-content.njk' %}
    <section>
      <h2>Words</h2>
      {% include 'components/defintions-list.njk' %}
    </section>
  </main>
  <footer class="site-footer">
    <nav aria-label="">
      <ul class="navigation-list">
        <li><a href="/documentation/">Documentation
      </ul>
    </nav>
  </footer>
{% endblock %}
