{% extends 'layouts/base.njk' %}
{% set pageType = 'Page' %}

{% block content %}
  <div class="small-left-grid">
    <div id="title">
      <a href="/">Self-Defined</a>
      <p>A modern dictionary about us.<br>We define our words, but they don't define us.</p>
    </div>
    <main class="page">
      {%- if parent -%}
        <div>
          <a href={{ parent.href }}>{{ parent.title }}</a>
        </div>
      {% endif %}
      <h1 class="title__thicc" >{{ title }}</h1>
      {{ content | safe }}
    </main>
{% endblock %}
