.site-header {
  align-items: center;
  display: flex;
  justify-content: space-between;

  .navigation-list {
    align-items: center;
    display: flex;
    justify-content: flex-end;

    li {
      margin-right: 0.5em;
      padding-bottom: 0;

      :last-child {
        margin-right: 0;
      }
    }
  }
}


@media (min-width: 800px) {
  .introduction {
    &__title {
      grid-column: 1 / 3;
    }
    &__body {
      grid-column: 1 / 2;
    }
  }
}
