---
layout: layouts/index.njk
---

<section id="introduction" class="auto-grid">
      <h1 class="title__thicc" id="title">Self-Defined</h1>
      <p>A modern dictionary about us.<br>We define our words, but they don't define us.</p>
      <div>
        <p class="summary">
          Self-Defined seeks to provide more inclusive, holistic, and fluid definitions to reflect the diverse perspectives of the modern world.
        </p>
        <p>
          With the foundation of vocabulary, we can begin to understand lived experiences of people different than us. Words can provide us with a sense of identify and allow us to find kinship through common experiences.
        </p>
      </div>
      <div class="box">
        <p class="subtitle">Ways to help</p>
        <ol class="help">
          <li>Submit words and definitions through <a href="https://github.com/tatianamac/selfdefined/pulls" rel="noreferral">pull requests</a> or <a href="https://github.com/tatianamac/selfdefined/issues" rel="noreferral">issues</a>.</li>
          <li>Sponsor this work through <a href="https://github.com/sponsors/tatianamac">GitHub Sponsors</a>.</li>
          <li>Volunteer writing, design, and dev help by <a href="https://www.twitter.com/selfdefinedapp">reaching out to @SelfDefinedApp on Twitter</a>.</li>
        </ol>
      </div>
      <div class="box">
        <p class="subtitle">Resources</p>
        <ol class="help">
          <li><a href="/documentation/">Documentation</a></li>
          <li><a href="https://github.com/tatianamac/selfdefined#-self-defined-dictionary" rel="noreferral">README</a></li>
          <li><a href="https://github.com/tatianamac/selfdefined/blob/master/CONTRIBUTING.md" rel="noreferral">Contributing Guide</a></li>
        </ol>
      </div>
      </section>
