---
permalink: search-data.json
---
[
{%- for item in collections.search -%}
  {
    "url" : "{{ item.url }}",
    "title" : "{{ item.data.title }}",
    "defined" : "{{ item.data.defined }}",
    "subterms": "{{item.data.sub_terms | extractSubTermText }}",
    "content" : "{{ item.templateContent | removeMarkdownFormatting }}"
  }{% if not loop.last %},{% else %}{%- endif -%}
{%- endfor -%}
]
