<header class="site-header">
  <h1 class="site-header__title" id="title">
    Self-Defined
  </h1>
  <nav aria-label="Main">
    <ul class="navigation-list">
      <li>
        <a href="/dictionary/">Dictionary</a>
      </li>
      <li>
        <a href="/">About</a>
      </li>
      <li>
        <a href="/">Contribute</a>
      </li>
    </ul>
  <nav>
</header>
