<header class="site-header">
  <h1 class="site-header__title" id="title">
    <a href="/">Self-Defined</a>
  </h1>
  <nav aria-label="Main">
    <ul class="navigation-list">
      <li>
        <a href="/dictionary/">Dictionary</a>
      </li>
      <li>
        <a href="/about">About</a>
      </li>
      <li>
        <a href="/contribute">Contribute</a>
      </li>
    </ul>
  <nav>
</header>
